body {
    font-family: Arial;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}
h2 {
    text-align: center;
}
input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #ff6f61;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #e65c50;
}
#message {
    text-align: center;
    margin-top: 10px;
    color: green;
    font-weight: bold;
}